.filters {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.filters input[type="checkbox"] {
  width: 17px;
  height: 17px;
}

.filters__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: absolute;
  right: 1rem;
}

@media (max-width: 1300px) {
  .filters__sort {
    position: relative;
  }
}

.filters__sort span {
  font-size: 14px;
}

.filters__sort_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters__sort_list button {
  height: 40px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 14px;
  gap: 5px;
  background: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
}

.filters__sort_list button > div {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.filters__sort_list ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 1rem;
  z-index: 99;
  width: 100%;
  height: 250px;
  overflow-y: auto;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scale3d(1, 0, 1);
          transform: scale3d(1, 0, 1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.filters__sort_list ul li {
  height: 40px;
  font-size: 13px;
  cursor: pointer;
}

.filters__sort_list ul li svg {
  margin-top: 2px;
}

.filters__sort_list ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters__sort_list ul li .check {
  display: none;
}

.filters__sort_list ul li:hover {
  font-weight: 600;
}

.filters__sort_list ul li:hover .check {
  display: block;
}

.filters__shipping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.filters__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.filters__price span {
  font-size: 14px;
}

.filters__price input {
  width: 70px;
  height: 32px;
  padding-left: 5px;
  font-size: 14px;
}

.filters__price input:focus {
  outline: none;
}

.filters__priceBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent !important;
}

.filters__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.filters__rating label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1px;
}

.filters__rating label svg {
  fill: #fe4d4d;
}

.tooltip_btn {
  position: relative;
  width: 30px;
  height: 37px;
  cursor: pointer;
  background: transparent;
}

.tooltip_btn span {
  position: absolute;
  left: -2px;
  bottom: 0;
  width: 29px;
  height: 25%;
  background: #ff00005f;
}

.tooltip_btn:hover span {
  background: red;
}
/*# sourceMappingURL=styles.module.css.map */