.main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-template-areas:
    "header"
    "swiper"
}
  .header {
    grid-area: header;
    height: 40px;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      li {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 19px;
        color: $blue-color;
      }
    }
  }
  .swiper {
    grid-area: swiper;
    height: 800px;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    margin: 0 40%;
  }
